<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Currency Conversion Servlet -->
    <servlet>
        <servlet-name>CurrencyServlet</servlet-name>
        <servlet-class>com.currency.CurrencyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrencyServlet</servlet-name>
        <url-pattern>/CurrencyServlet</url-pattern>
    </servlet-mapping>

    <!-- Export Raw History Servlet -->
   <!-- Export History Servlet -->
<servlet>
    <servlet-name>ExportHistoryServlet</servlet-name>
    <servlet-class>com.currency.ExportHistoryServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ExportHistoryServlet</servlet-name>
    <url-pattern>/exportHistory</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AutoRateUpdater</servlet-name>
    <servlet-class>com.currency.AutoRateUpdater</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>AutoRateUpdater</servlet-name>
    <url-pattern>/AutoRateUpdater</url-pattern>
</servlet-mapping>

</web-app>
